
section.hero{
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 13px;

}
div.hero-first-group{
    display: flex;
    padding: 23px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.hero-first-group h1{
    font-size: 58px;
    font-weight: bold;
}
div.hero-second-group{
display: flex;
justify-content: center;
align-items: center;
}
div.hero-second-group img{
    width: 70%;
    height: 70%;
    border-radius: 14px;
    gap: 12px;
    justify-content: space-between;
    box-shadow: 12px 12px 12px grey;
}
/* responsive */
@media (max-width: 768px){
div.hero-first-group h1{
    font-size: 50px;
    font-weight: bold;
}
div.hero-second-group img{
    width: 320px;
    height: 400px;
}
section.hero{
    height: 80vh;
   gap: 4px;
}
}
@media (max-width: 500px){
div.hero-first-group h1{
    font-size: 32px;
}
div.hero-second-group img{
    width: 100%;
    height: 330px;
}
section.hero{
    height: fit-content;
    grid-template-columns:1fr;
    gap: 10px;
    padding: 24px 12px;
    background-color: var(--color-brand);
}
}