
nav{
    display: flex;
    color: var(--text-brand);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 999;

}
nav::backdrop{
    filter: blur(90px);
}
nav div h1{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
nav div ul{
    display: flex;
    gap: 89px;
    justify-content: center;
}
nav div ul li{
    list-style: none;
}
nav div ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 200;
    font-family: sans-serif;
}
nav div.third-group{
    display: flex;
    gap: 12px;
    justify-content: center;
}
div.third-group button{
padding: 4px 12px;
border: 1px solid;
background-color: transparent;
border-radius: 4px;
cursor: pointer;

}
div.third-group span{
padding: 3px 6px;

}
div.third-group button:hover{
    background-color:beige;
}
.fa-bars{
    display: none;
}


@media (max-width:768px){

nav{
    display: flex;
    color: var(--text-brand);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 999;
}
nav::backdrop{
    filter: blur(90px);
}
nav div h1{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
nav div ul{
    display: flex;
    gap: 89px;
    justify-content: center;
}
nav div ul li{
    list-style: none;
}
nav div ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}

}
@media (max-width: 500px){
nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-brand);
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 999;
}
nav::backdrop{
    filter: blur(90px);
}
nav div h1{
    font-size: 32px;
    font-weight: bold;
    color: black;
}
nav div ul{
    display: flex;
    gap: 1px;
    justify-content: center;
}
nav div ul li{
    list-style: none;
}
nav div ul li a{
    text-decoration: none;
    margin: 8px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
}

}
 

